* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #000;
	position: relative;
	min-height: 100vh;
}